*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --headerBgColor: #9cbfa5;
    --headerTxtColor:#000000;
    --bgColor: #f5fbe4;
    --txtColor:#0b0b0b; 
    --footerBgColor: #f5fbe4;
    --footerTxtColor: #0b0b0b; 
    --linkColor: #3f3401;
    --visitedLinkColor:#7c0048;
    --flagColor: rgb(218,103,66);
    --font-body-family: "Futura", sans-serif;
    --articleBgColor: #c9dec4;
}

html{
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    /*background-image: url(../images/bg.png);*/
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bgColor);
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    padding: 1em;
    border-bottom: 3px solid var(--headerTxtColor); 
    border-radius: 3px;
}

.navigationhelp{
    position: absolute;
    text-indent: -999em;
}

 header nav #menu{
    margin-left: 10%;
    text-align: right;
    font-size: 1em;
}

a:link{
    color: var(--linkColor);
}

a:visited{
    color: var(--visitedLinkColor);
}

header > h1{
    float: left;
    width: 20%;
    margin-right: 0em;
    font-size: 2.3em;
}

#menu-toggle{
    display: none;
}

#menu ul{
    margin-left: 10%;
    text-align: right;
    font-size: 1em;
    padding: 1em;
    list-style-type: none;
}
/*
#menu{
    display: block;
}
*/
#menu ul li{
    text-align: center;
    display: inline-block;
    width: 13%;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
}

nav #breadcrumb{
    padding: 1em;
    margin: auto;
}

main{
    background-color: var(--bgColor);
    color: var(--txtColor);
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

#wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr  1fr; 
    grid-gap: 2em; 
    grid-template-areas: "t t i" ;
}  

#wrapper > .left{
    grid-area: t;
}

#wrapper > .right{
    grid-area: i;
    border-radius: 10px;
    background-image: url(../img/designImg_1_H.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
}

main h2{
    margin-top: 1em;
    margin-bottom: 1em;
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    padding: 1.0em;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 80%;
    border-top: 3px solid var(--footerTxtColor); 
    border-radius: 3px;
}

#socialList{
    max-width: 1024px;
    margin: auto;
    padding: 1em;
    list-style-type: none;
    text-align: center;
}

#socialList li{
    display: inline-block;
    width: 15%;
    margin: 0 0.5em;
    
}

/* News */

#content.news h2{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

#content.news article{
    border: 2px solid var(--headerTxtColor); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
    background-color: var(--articleBgColor);
}


/* SERVIZI */

#servizi_content.servizi h2 {
    text-align: center;
    margin-top: 1em;
    
}

#servizi_section1 h3{
    text-align: left;
    margin-top: 2em;
    margin-bottom: 2em;
}

#servizi_wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr  1fr; 
    grid-gap: 2em; 
    grid-template-areas: "t t i" ;

}

#servizi_wrapper > .left{
    grid-area: t;
    margin-bottom: 10em;
    margin-top: 2em;
    border: 2px solid var(--headerTxtColor); 
    border-radius: 10px; 
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--headerBgColor);
}

#servizi_wrapper > .right{
    grid-area: i;
    border-radius: 10px;
    background-image: url(../img/sec1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 2em;
    margin-bottom: 2em;


} 




#servizi_section2 div.servizi_container.servizi_section2Content{
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#servizi_section2 div.servizi_serviceDescription{
    flex-grow: 0;
    flex-shrink: 1;
    text-align: left;

}

 #servizi_section2  div.servizi_serviceDescription div.sec2{
    background-image: url(../img/sec22.jpg);
    display: flex;
    height: 570px;
    width: 390px;  
    margin-top: 2em;
    background-size: cover;
    border-radius: 10px;

} 

#servizi_section2 div.servizi_serviceContainer{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}

#servizi_section2 div.servizi_serviceBoxContainer{
    display:flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 2em;
    padding-left:1em;
    padding-right: 0;

}

#servizi_section2 div.servizi_serviceBoxContainer h3{
    padding: 1em;
    font-size: 100%;
    max-width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--headerBgColor);
    border-radius: 10px;
    text-align: center;
    border: 2px solid var(--headerTxtColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    width: 100%; 
}

#servizi_section2 div.servizi_serviceBoxContainer h3:hover{
    background-color: var(--headerBgColor);
}


#servizi_section2 div.servizi_serviceBoxContainer h3 a{


    background-color: var(--headerBgColor) ;
    color: var(--linkColor);
    text-align: center;
    padding-left: 0;
    border-radius: 10px;
    padding: 0.5em; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    line-height: 1.5em;
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:hover{
    background-color: var(--bgColor);
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:visited{
    color: var(--visitedLinkColor);
    background-color: var(--bgColor);
}

#servizi_section2 div.servizi_serviceBoxContainer h3 a:visited:hover{
    background-color: var(--headerBgColor);
}


#servizi_section3{
    text-align: center;
    margin-top: 4em;

}



#servizi_section3 h3,p {
    margin-bottom: 2em;
}


#servizi_section4 {

    text-align: center;
    margin-bottom: 5em;
    margin-top: 5em;
}
#servizi_section4 h3{
    text-align: center;
    margin-bottom: 2em;

}

#servizi_section4 div.servizi_reasonContainer{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer{
    display: flex;
    padding: 1em;
    
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer div.servizi_reasonContent{

    background-color:var(--headerBgColor) ;
    color: var(--headerTxtColor);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 auto;
    width: 330px;
    padding: 2em;
    padding-bottom: 0;
}

#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer h4{
    text-align: center;
    padding-bottom: 0.5em;
    text-transform: uppercase;

}
#servizi_section4 div.servizi_reasonContainer div.servizi_reasonBoxContainer p{
    text-align: left;
}


/*IMPIANTI*/

#impianti_content h2 {
    text-align: center;
    margin-top: 1em;
}

#impianti_content p{
    margin-top: 1em;
}

.impianti_menu-impianti {
    margin-top: 1em;
    padding: 0.5em;
}

.impianti_container ul li {
    list-style: none;
    margin-left: 1em;

}

#impianto1-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em; 
    border: solid black;
}

#impianto1-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
}

#impianto1-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

}

#impianto1-wrapper #impianti_img1{
    border-radius: 10px;
    background-image: url(../img/impianti_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#impianto2-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

}

#impianto2-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black; 

}

#impianto2-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto2-wrapper ul li {
    list-style:circle;
    margin-left: 2em;
}



#impianto2-wrapper #impianti_img2{
    border-radius: 10px;
    background-image: url(../img/impianto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;


}

#impianto3-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

}


#impianto3-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto3-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;

}

#impianto3-wrapper #impianti_img3{
    border-radius: 10px;
    background-image: url(../img/rifiutipericolosi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;
}

#impianto4-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

}

#impianto4-wrapper h2 {
    text-align: left;
    background-color:var(--headerBgColor) ;
    border-radius: 10px;
    padding: 1em;
    border: solid black;
}

#impianto4-wrapper h3 {
    border: solid black;
    border-radius: 10px;
    padding: 0.5em;
    margin-top: 1em;
}

#impianto4-wrapper ul li {
    list-style: circle;
    margin-left: 2em;
    
}

#impianto4-wrapper #impianti_img4{
    border-radius: 10px;
    background-image: url(../img/acque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;


}

/*SMALTIMENTO*/

#smaltimento_content-wrapper{
    display: grid; 
    grid-template-rows: repeat(1,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

}

#smaltimento_content-wrapper h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}


#smaltimento_content-wrapper h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;

}

#smaltimento_content-wrapper ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#smaltimento_content-wrapper #smaltimento_img1{
    border-radius: 10px;
    background-image: url(../img/smaltimento.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;



}

/*RECUPERO E RACCOLTA*/


#raccolta_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;

}

#raccolta_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;

}

#raccolta_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

/*BONIFICHE*/

#bonifiche_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;

}



#bonifiche_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;

}

#bonifiche_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* PRONTO INTERVENTO */

#intervento_content h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;

}



#intervento_content h3 {
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;

}

#intervento_content ul li {
    list-style: circle;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

}

/*DOVE LO BUTTO */

 #doveLoButto-wrapper{
    display: grid; 
    grid-template-rows: repeat(7,0.4fr) ; 
    grid-gap: 2em; 
    grid-template-areas: "t" "i" ;

} 



#doveLoButto-wrapper > #cartaImg{

    border-radius: 10px;
    background-image: url(../img/carta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;

}



#carta h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;

}





#plastica h3 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;

}

#doveLoButto-wrapper > #plasticaImg{
 
    border-radius: 10px;
    background-image: url(../img/plastica.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;

} 





#umido h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;

}

#doveLoButto-wrapper > #umidoImg{
 
    border-radius: 10px;
    background-image: url(../img/umido2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;

} 





#secco h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;

}

#doveLoButto-wrapper > #seccoImg{
 
    border-radius: 10px;
    background-image: url(../img/secco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;

} 



#altro h3{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color:var(--headerBgColor) ;
    border: solid black;
    padding: 1em;
    border-radius: 10px;

}

#doveLoButto-wrapper > #altroImg{

    border-radius: 10px;
    background-image: url(../img/altro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1em;
    height: 300px;

}



/*FORM SEGNALAZIONE*/
#segnalazione{
    display: flex;
    flex-direction: column;
}
#segnalazione fieldset{
    padding: 1em;
}
.form-linegroup input{
    margin: 1em;
    padding: 0.5em;
}
#segnalazione textarea{
    width: 90%;
}

#segnalazione button{
    font-size: 1em;
    padding: 0.5em;
    border-radius: 30%;
}

