<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Demeter</title>
        <meta name="keywords" content="Demeter, Raccolta, Rifiuti">
        <meta name="description" content="Servizio completo di trattamento dei rifiuti per ogni tipo di intervento. Garantiamo lavori rapidi, convenienti e a norma di legge">
        <link rel="stylesheet" href="css/style.css" media="screen">
        <link rel="stylesheet" href="css/mini.css" media="only screen and (max-device-width: 768px)">
    </head>
    <body>
        <header>
            <nav aria-label="Aiuti alla navigazione" class="navigationhelp">
                <a href="#content">Vai al contenuto</a>
            </nav>
            <h1>Demeter</h1>
            <input id="menu-toggle" type="checkbox" />
            <label class='mobile-menu' for="menu-toggle"></label>
            <nav id="menu">
                <ul>
                    <li><a href="index.php"><span lang="en">Home</span></a></li>
                    <li><a href="calendario.php">Calendario</a></li>
                    <li><a href="servizi.php">Servizi</a></li>
                    <li><a href="doveLoButto.php">Dove lo butto?</a></li>
                    <li><span lang="en">News</span></li>
                    <li><a href="{profilelink}">{profile}</a></li>
                </ul>
            </nav>
            <nav id="breadcrumb">
                <p>Ti trovi in: <a lang="en" href="index.php">Home</a>&gt;&gt;<a href="">Profilo</a>&gt;&gt;Segnalazioni</p>
            </nav>
        </header>
        <main id="content" class="segnalazioni">
            <h2>Ultime segnalazioni</h2>
            {segnalazioni}
        </main>
        <footer>
            <h3>Segui i nostri canali social</h3>
            <p>
                Seguici su <span lang="en">Facebook</span>, <span lang="en">Instagram</span> e <span lang="en">X</span> per rimanere
                aggiornato su tutte le iniziative e i progetti futuri. <span>Per un mondo più libero e verde.</span>
            </p>
            <ul id="socialList">
                <li id="facebook"><a href=""><span lang="en">Facebook</span></a></li>
                <li id="instagram"><a href=""><span lang="en">Instagram</span></a></li>
                <li id="x"><a href=""><span lang="en">X</span></a></li>
            </ul>
        </footer>
    </body>
</html>